$main: #ff7d1b;
$secondary: #fde0c9;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
}
button {
	border: none;
	background: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
	display: none;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	position: relative;
}
.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.6em 1em 1em 1em;
	&__logo {
		margin-left: 0.2em;
		padding: 0.5em;
	}
	&__avatar {
		margin-left: 0.5em;
		padding: 0.5em;

		:focus {
			border: 1px solid $main;
		}
		img {
			width: 2.5em;
		}
	}
	&__cart-icon {
		position: relative;
		padding: 0.5em;
		margin-left: auto;
	}
	&__cart-icon,
	&__avatar,
	&__logo,
	&__hamburger {
		cursor: pointer;
	}
	&__hamburger {
		margin-top: 0.5em;
		padding: 0.5em;
	}
	&__item-quantity {
		position: absolute;
		top: 8%;
		right: 8%;
		background-color: $main;
		color: white;
		font-size: 1rem;
		padding: 0 0.5em;
		width: 1.8em;
		border-radius: 30%/50%;
	}
}
.menu {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	left: -100%;
	z-index: 5;
	transition: left 0.6s;
}
.shadow {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.664);
	z-index: 5;
}
.nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	background-color: #fff;
	width: 65%;
	z-index: 0;
	&__list {
		list-style: none;
		padding: 1.5em;
	}
	&__list-element {
		margin-bottom: 1.5em;
		font-weight: 700;
		a {
			text-decoration: none;
			color: black;
		}
	}
	&__close-btn {
		cursor: pointer;
		padding: 0.5em;
		margin: 1em;
		margin-left: 1.2em;
	}
}
.gallery {
	position: relative;
	.slick-list {
		width: 100%;
		height: 45vh;
	}
	.slick-track {
		height: 45vh;
	}
	img {
		object-fit: cover;
		object-position: center top;
	}
}
.gallery-desktop {
	display: none;
}
.slick-arrow {
	position: absolute;
	background-color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	img {
		position: absolute;
		width: 25%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
.slick-prev {
	top: 50%;
	margin-left: 1em;
	transform: translate(0, -50%);
	z-index: 1;
	img {
		left: 47%;
	}
}
.slick-next {
	top: 50%;
	transform: translate(0, -50%);
	right: 0;
	margin-right: 1em;
	z-index: 1;
	img {
		left: 53%;
	}
}
.info {
	padding: 1.2em;
	display: flex;
	flex-direction: column;
	&__company-name {
		color: $main;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1.4rem;
		margin-bottom: 1em;
	}
	&__title {
		margin-bottom: 0.8em;
	}
	&__description {
		color: #808080;
		margin-bottom: 1em;
		font-weight: 500;
		line-height: 1.5em;
	}
	&__price {
		font-weight: bold;
		font-size: 2.6rem;
		margin-right: 0.4em;
	}
	&__discount {
		background-color: $secondary;
		color: $main;
		font-weight: bold;
		padding: 0.3em;
		border-radius: 6px;
	}
	&__old-price {
		margin-left: auto;
		color: #b1afaf;
		font-weight: 600;
		text-decoration: line-through;
	}
	&__add-to-cart-btn {
		margin-bottom: 1em;
		svg {
			margin-right: 1em;
		}
	}
}
.orange-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.2em;
	border-radius: 8px;
	border: none;
	width: 100%;
	background-color: $main;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}
.pricing {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 1em;
	&__container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
.quantity {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	background-color: #eeeeee;
	border-radius: 8px;
	padding: 0.3em;
	margin-bottom: 1em;
	&__btn {
		padding: 1em;
		cursor: pointer;
		&--add {
			margin-left: auto;
		}
		&--subtract {
			margin-right: auto;
			position: relative;
		}
	}
	&__number {
		font-weight: 600;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.6rem;
		width: 50%;
		border: none;
		background: none;
		text-align: center;
		padding: 1em;
	}
}

//CART
.cart {
	position: absolute;
	display: none;
	left: 50%;
	top: 10%;
	transform: translate(-50%, 0);
	z-index: 2;
	background-color: #fff;
	border-radius: 8px;
	width: 95%;
	box-shadow: 0 0 15px #b1afaf;
	&__heading {
		font-size: 1.4rem;
		padding: 1.3em;
		border-bottom: 1px solid rgb(206, 204, 204);
	}
	&__content {
		padding: 1.3em;
	}
	&__checkout {
		display: none;
	}
	&__empty {
		text-align: center;
		padding: 4em;
		font-weight: bold;
		color: #444444;
	}
}
.product {
	display: none;
	margin-bottom: 1.5em;
	&__image {
		width: 17.5%;
		height: 17.5%;
		border-radius: 6px;
	}
	&__description {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-left: 0.7em;
		color: #808080;
		line-height: 1.5em;
		word-spacing: -1.5px;
	}
	&__title {
		font-size: 1.5rem;
		font-weight: 500;
	}
	&__delete {
		margin-left: auto;
		padding: 0.5em 0 0.5em 0.5em;
		z-index: 3;
		cursor: pointer;
	}
	&__final-price {
		color: black;
		font-weight: bold;
	}
}

.active {
	left: 0;
}
.open {
	display: block;
}
.attribution {
	font-size: 11px;
	text-align: center;
	margin-bottom: 1em;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 992px) {
	.header {
		// overflow: hidden;
		height: 130px;
		position: relative;
		padding: 0 10em;
		margin-bottom: 6em;
		&__hamburger {
			display: none;
		}
		&__cart-icon {
			margin-right: 3em;
			position: relative;
		}
		&__avatar {
			img {
				width: 3.5em;
				border: 2px solid transparent;
				transition: border 0.3s;
				border-radius: 50%;
				&:hover {
					border: 2px solid $main;
				}
			}
		}
	}
	.header::before {
		position: absolute;
		content: '';
		width: calc(100% - 20em);
		height: 1px;
		left: 0;
		transform: translate(10em);
		bottom: 0;
		background-color: #dbdbdb;
	}
	.menu {
		left: 0;
		background: none;
		height: auto;
		width: auto;
		position: static;
		margin-left: 2em;
		.nav {
			height: auto;
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
			background: none;
			width: 100%;
			&__list {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: row;
			}
			&__list-element {
				margin-bottom: 0.5em;
				padding: 1em;
				padding-right: 3em;
				font-weight: 500;
				font-size: 1.6rem;
				a {
					position: relative;
					color: #808080;
				}
				a:hover::before {
					opacity: 1;
				}
				a::before {
					content: '';
					position: absolute;
					left: 50%;
					bottom: -325%;
					transform: translate(-50%, -50%);
					width: 100%;
					height: 5px;
					opacity: 0;
					background-color: $main;
					transition: opacity 0.3s;
				}
			}
			&__close-btn {
				display: none;
			}
		}
	}
	.galleries {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 50%;
		padding-left: 6em;
		padding-right: 6em;
	}
	.gallery {
		width: 80%;
		height: 80%;
		position: relative;
		margin-bottom: 1em;
		.slick-list {
			border-radius: 16px;
			width: 100%;
			height: 100%;
		}
		.slick-track {
			height: 100%;
		}
		img {
			object-fit: cover;
			object-position: center;
		}
	}
	.gallery-desktop {
		display: flex;
		justify-content: center;
		width: 100%;
		img {
			border-radius: 16px;
			width: 100%;
		}
		&__thumbnail {
			margin: 1em;
			transition: opacity 0.3s;
			cursor: pointer;
			&:hover {
				opacity: 0.6;
			}
		}
		.slick-track {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
		}
		.slick-current {
			opacity: 0.4;
			border: 2px solid $main;
		}
	}
	.slick-arrow {
		display: none;
		visibility: hidden;
	}
	.content {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 8.5em;
		margin-bottom: 4em;
	}
	.info {
		padding-right: 16em;
		&__title {
			font-size: 4rem;
		}
		&__description {
			padding-right: 1em;
		}
		&__price {
			padding-right: 0.3em;
		}
		.pricing {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			&__container {
				display: flex;
				flex-direction: row;
				margin-bottom: 0.5em;
			}
		}
		&__old-price {
			margin-left: 0;
			margin-right: auto;
			margin-bottom: 1em;
		}
		&__buy-container {
			display: flex;
		}
	}
	.quantity {
		margin-right: 1em;
		width: 50%;
		&__btn {
			svg use {
				transition: fill 0.3s;
			}
			&:hover {
				svg use {
					fill: #fdab6b;
				}
			}
		}
	}
	.orange-btn {
		transition: background-color 0.3s;
		&:hover {
			background-color: #fdab6b;
		}
	}
	.cart {
		position: fixed;
		margin-top: 7em;
		margin-left: 35.5%;
		top: 0;
		width: 20%;
	}

}
